<a href="https://colab.research.google.com/github/adarshnitt/DataStructure-_Practice/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>Question</b>: <br>
Twin primes are pairs of prime numbers that differ by 2. For example (3, 5), (5, 7), and (11,13) are twin primes.
Write a function Twin_Primes(n, m) where n and m are positive integers and n < m , that returns all unique twin primes between m and n (both inclusive). The function returns a list of tuples and each tuple (a,b) represents one unique twin prime where n <= a < b <= m.

In [19]:
# solution
def prime(a):
  if a==1:
    return False
  for j in range(2,a):
    if a%j==0:
      return False
  return True

def solution(a,b):
  result=set()
  for k in range(a,b-1):
    if prime(k):
      if prime(k+2):
        result.add((k,k+2))
  return result

In [20]:
# checking
solution(11,25)

{(11, 13), (17, 19)}

<b>Question</b>: <br>
Write a function Find_Min Difference(L, P) that accepts a list L of integers and P (positive integer) where the size of L is greater than P. The task is to pick distinct elements from the list L. where the difference between the maximum value and the minimum value in selected elements is minimum compared to other differences in possible subset of p elements. The function returns this minimum difference value.

Note- The list can contain more than one subset of p elements that have the same minimum difference value.

Example

Let = [3, 4, 1, 9, 56, 7, 9, 12, 131 and P = 5

If we see the following two subsets of 5 elements from L

[3, 4, 7, 9, 9] or [7, 9, 9, 12, 13]

In [54]:
def quick(data,a,b):
  if b-a<=1:
    return data
  pivot=data[a]
  lower=a+1
  for j in range(a+1,b):
    if data[j]<pivot:
      data[j],data[lower]=data[lower],data[j]
      lower+=1
  data[lower-1],data[a]=data[a],data[lower-1]
  lower-=1
  quick(data,a,lower+1)
  quick(data,lower+1,b)
  return data

def solution(data,n):
  data=quick(data,0,len(data))
  min=data[-1]-data[0]
  for j in range(0,len(data)-n-1):
    if data[j+n-1]-data[j]<min:
      min=data[j+n-1]-data[j]
      #print(min,data[j],data[j+n-1])
  return min

In [55]:
solution([1,2,3,-4,3,2,1,5,-6,7,8,9,10],6)

2

In [31]:
quick([10,9,8,7,6,5,4,3,2,1,-1,-2],0,len([10,9,8,7,6,5,4,3,2,1,-1,-2]))

[-2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<b>Question</b>: <br>
Goldbach's conjecture is one of the oldest and best-known unsolved problems in number theory. It states that every even number greater than 2 is the sum of two prime numbers.

For Example:

12=5+7

26=3+23 or 7+19 or 13+13

Write a function Goldbach(n) where n is a positive even number(n> 2) that returns a list of tuples. In each tuple (a,b) where a <- b. a and b should be prime numbers and the sum of a and b should be equal to n.

Sample Input 1

1 12

Output

1 [(5.7)]

Sample Input 2

1 26

Output

1 [(3,23), (7,19), (13,13)]

In [64]:
# solution 
def prime(a):
  if a==1:
    return False
  for j in range(2,a):
    if a%j==0:
      return False
  return True
def solution(n):
  result=set()
  for j in range((n+1)//2):
    if prime(j):
      if prime(n-j):
        result.add((j,n-j))
  return result

In [67]:
solution(250)

{(11, 239),
 (17, 233),
 (23, 227),
 (53, 197),
 (59, 191),
 (71, 179),
 (83, 167),
 (101, 149),
 (113, 137)}