<a href="https://colab.research.google.com/github/adarshnitt/DataStructure-_Practice/blob/main/week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function binarySearchindexAndComparisons(L, k) that accepts a list L sorted in ascending order and an integer k and returns a tuple (True/False, numComparisons). The first part of this tuple will be True if integer k is present in list L, False otherwise. The second part of the tuple is an integer which gives the number of elements in L that are actually compared to k while searching k in the list L using binary search.

For consistency use (left+right)//2 to calculate the middle index.

Example:

For givenLand k, your function should return as mentioned in the table below.

L = [2, 6,

8,

11, 17, 23, 33, 44, 46, 50, 651, list is same for all examples below.

k

Return

11

(True, 3)

23

(True, 1)

(False, 4)

100

In [25]:
data=[1,2,3,4,5,6]
k=3
count=1
status =False
def binary(data,k):
  global count
  global status
  if len (data)<=1:
    if len(data)==1 and k==data[0]:
      
      status =True
    return
  
  mid=len(data)//2
  
  if data[mid]<k:
    count+=1
    print(data[mid+1:])
    binary(data[mid+1:],k)
  elif data[mid]==k:
    status=True
  else:
    count+=1
    print(data[:mid])
    binary(data[:mid],k)
  return  count, status
binary(data,5)

[5, 6]
[5]

(3, True)

Consider a list L containing an integers, where each integer is in the range [0, r) that is 0 <= i <r, r<1000 and n>>r (n is much greater than r). Write a Python function sortInRange (L. r) to sort the list Lin ascending order. Try to write a solution that runs in O(n + r) asymptotic complexity.

Sample Input:

L: 2, 0, 1, 1, 2, 3, 0, 2, 1, 0, 2, 3, 1, 2

r: 4

Sample Output:

0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3

This assignment has public test cases. Please click on Test Run' button to see the status of public test cases. Assignment will be evaluated only after submitting using "Submit" button below. If you only test run the program, your assignment will not be graded and you will not see your score after the deadline.

In [29]:
data=[1,2,3,4,1,2,3,4,1,2,3,4,2,3,4]
r=3 # 0:3
def sort(data,r):
  out={}
  result=[]
  for j in range(1,r+2):
    out[j]=[]
  for k in data:
    out[k].append(k)
  for j in range(1,r+2):
    result.extend(out[j])
  return result
sort(data,r)

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]

Write a Python function combinationSort(strList) that takes a list of unique strings strList as an argument, where each string is a combination of a letter from a to z and a number from 0 to 99, the initial character in string being the letter. For example a23, d5, 999 are some strings in this format. This function should sorts the list and return two lists (L1, L2) in the order mentioned below.

L1: First list should contain all strings sorted in ascending order with respect to the first character only. All strings with same initial character should be in the same order as in the original list. L2: In the list L1 above, so the strings starting with same character, in descending order with respect to the number formed by the remaining characters.

Example:

Sample input 1:

d34, 954, d12, b87, gl, c65, 940, g5, d77

Sample output 1:

In [44]:
track=False
def quick(data,s,f,i):
  global track
  if f-s<=1 and :
    return data
  if track:
    new=0
    for j in range(0,len(data)-1):
      if data[j][0]!=data[j+1][0]:
        quick(data,new,j,1)
        new=j
    return data

  pivot=data[s][i]
  lower=s+1
  for j in range(s+1,f):
    if track:
      pivot=data[s][i:]
      if int(data[j][i:])<int(pivot):
        data[j],data[lower]=data[lower],data[j]
        lower+=1
    elif data[j][i]<pivot:
      data[j],data[lower]=data[lower],data[j]
      lower+=1
    else:
      pass
  data[s],data[lower-1]=data[lower-1],data[s]
  lower-=1
  quick(data,s,lower+1,i)
  quick(data,lower+1,f,i)
  if  track:
    return data
  track=True
  quick(data,0,len(data),1)
  return  data
data=["a212","b23","w33","a35"]
quick(data,0,len(data),0)

hii

['a212', 'a35', 'b23', 'w33']

In [1]:
# gpa 2

In [9]:
min=None
def gpa2(data):
  global min
  l=len(data)
  if l<=1: 
    min=data
    return 
  m=l//2
  if data[m-1]<data[m+1]:
    gpa2(data[m+1:])
  if data[m-1]>data[m+1]:
    if data[m-1]>data[m]:
      min=data[m-1]
      return
    else:
      min=data[m]
      return 
    gpa2(data[:m])
  return  
data=[4,5,6,7,8,9,10,2]
gpa2(data)
min

10

In [10]:
# gpa3

In [21]:
d1=[2,4,6,9,13,15]
d2=[1,3,5,10]
def merge(d1,d2):
  start=0
  while start<len(d1):
    if d1[start]>d2[0]:
      
      f=d1[start]
      s=d2[0]
      d1[start]=s
      d2[0]=f
      start+=1
      next=0
      while d2[next]>d2[next+1]:
        d2[next],d2[next+1]=d2[next+1],d2[next]
        next+=1
        if next >=len(d2)-1:
          break
  return d1,d2
merge(d1,d2)

4 1 2 [3, 4, 5, 10]
6 1 3 [4, 6, 5, 10]
6 2 3 [4, 5, 6, 10]
9 1 4 [5, 9, 6, 10]
9 2 4 [5, 6, 9, 10]
13 1 5 [6, 13, 9, 10]
13 2 5 [6, 9, 13, 10]
13 3 5 [6, 9, 10, 13]
15 1 6 [9, 15, 10, 13]
15 2 6 [9, 10, 15, 13]
15 3 6 [9, 10, 13, 15]

([1, 2, 3, 4, 5, 6], [9, 10, 13, 15])

In [ ]:
d1=[10,5,6,9,13,15]
d2=[1,2,3,4]